@import '../../../../styles.scss';
// @import '~@angular/material/prebuilt-themes/purple-green.css';


.header {
  background-color: mat-color($mat-purple, 700);
    color: mat-color($mat-lime, 200);
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  } 