.header {
    background-color: mat-color($mat-palette-indigo, 700);
    color: mat-color($mat-palette-lime, 200);
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }