html,
body {
  height: 100%;
}
body {
  margin: 0;
  height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Alinea el elemento a la derecha
@mixin flex-align-right {
  display: flex;
  justify-content: flex-end;
}
// Alinea el elemento a la izquierda
@mixin flex-align-left {
  display: flex;
  justify-content: flex-start;
}
// Centra el elemento horizontalmente
@mixin flex-align-center {
  display: flex;
  justify-content: center;
}

@mixin flex-1 {
  display: flex;
  flex: 1;
}

.align-center {
  display: flex;
  align-items: center;
}

.flex1 {
  @include flex-1;
}

.flex{
  display: flex;
}

.fixed {
  position: fixed;
  width: -webkit-fill-available;
}

.width100 {
  width: 100%;
}

.marginLeft20{
  margin-left: 20px;
}

.marginRigth20{
  margin-right: 20px;
}
